<title>指定关键词</title>


<style>

    .btn.focus, .btn:focus, .btn:hover {
        color: white;
    }

    .search_form>div{
        margin-bottom: 10px;
    }

    .search_form label{

        width: 85px;
        text-align: right;
    }

    .search_form input, .search_form select{
        display: inline-block;
        width: 300px
    }
    .search_form select{
        display: inline-block;
        width: 100px
    }

    #create_date{
        width: 120px;
    }
    tbody{
        text-align: center;
    }

    form .select2-container--default{
        display: inline-block;
        width: 200px;
    }

</style>

{% csrf_token %}
<div class="page animation-fade page-index">
    <div class="page-content">

        <div class="panel" style="padding: 10px; height: auto">
            <form class="form-horizontal" id="formOper" onsubmit="return false">
                {% csrf_token %}
                <h3>添加关键词</h3>
                <div>
                    <label for="keywords__client_user_id">客户名称：</label>
                    <select class="form-control select2-hidden-accessible" data-plugin="select2" tabindex="-1" aria-hidden="true" id="keywords__client_user_id" name="keywords__client_user_id">
                        <option value="">全部</option>
                        {% for obj in wendaClientUserObjs %}
                            <option value="{{ obj.id }}">{{ obj.username }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div style="margin-top: 2px">
                    <textarea class="form-control input-md" style="width: 53%; display: inline-block" rows="5" id="keywords" name="keywords" placeholder="请输入关键词,每行一个" autocomplete="off"></textarea>
                </div>

                <div style="position: absolute;top: 60px;left: 400px;">
                    <button type="button" class="btn btn-success" id="add_keywords">
                        <i class="icon fa-plus" aria-hidden="true"></i>
                        添加关键词
                    </button>
                </div>

            </form>
        </div>

        <div class="panel" style="padding: 10px; height: auto">
            <h2>条件过滤</h2>
            <form class="form-horizontal search_form">
                <div>
                    <label for="client_user_id">用户名称：</label>
                    <select class="form-control select2-hidden-accessible" data-plugin="select2" tabindex="-1" aria-hidden="true" id="client_user_id" name="client_user_id">
                        <option value="">全部</option>
                        {% for obj in wendaClientUserObjs %}
                            <option value="{{ obj.id }}">{{ obj.username }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div style="position: absolute; bottom:0; right: 20px;">
                    <button type="button" class="btn btn-primary" id="search_button"><i class="icon fa-search" aria-hidden="true"></i>搜索</button>
                </div>

            </form>
        </div>
        <div class="panel" style="height: 100%;">
            <div class="panel-body">

                <table class="table table-bordered table-hover dataTable table-striped width-full text-nowrap" id="dataTable">
                    <thead>
                        <tr>
                            <td>编号</td>
                            <td>客户名称</td>
                            <td>关键词</td>
                            <td>创建时间</td>
                            <td>添加用户</td>
                            <td>操作</td>
                        </tr>

                    </thead>

                    <tbody>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


<script>

        {# 在模态对话框关闭时清空数据 #}
    $(".modal").on("hidden.bs.modal", function() {
        $(this).removeData("bs.modal");
        $(this).find(".modal-content").children().remove();
    });

    var table = $('#dataTable').DataTable({
        language: {
            "sProcessing": "处理中...",
            "sLengthMenu": "每页显示 _MENU_ 条",
            "sZeroRecords": "没有匹配结果",
            "sInfo": "第 _START_ 至 _END_ 项，共 _TOTAL_ 项",
            "sInfoEmpty": "第 0 至 0 项，共 0 项",
            "sInfoFiltered": "",
            "sInfoPostFix": "",
            "sSearch": "搜索:",
            "sUrl": "",
            "sEmptyTable": "表中数据为空",
            "sLoadingRecords": "载入中...",
            "sInfoThousands": ",",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "上页",
                "sNext": "下页",
                "sLast": "末页"
            },
            "oAria": {
                "sSortAscending": ": 以升序排列此列",
                "sSortDescending": ": 以降序排列此列"
            }
        },
        "processing": true,
        "serverSide": true,  // 服务器模式
        "ajax": "?type=ajax_json", // ajax 取数据
        "bFilter": false,   // 去掉搜索框
        "destroy": true,
        "aaSorting": [[ 3, "desc" ]],
        "columnDefs": [
            {
                "targets": [0],     // 这些列禁止搜索
                "searchable": false,
{#                "visible": false       // 不可见#}
            }
        ]

    });


    {# 搜索按钮被点击 #}
    $("#search_button").click(function () {
        var search_data = $(".search_form").serialize();
        var get_url = "?type=ajax_json&" + search_data;

        table.ajax.url(get_url);
        table.draw();

    });

    {# 搜框中的input标签 回车键被触发 #}
    $(".search_form input").keydown(function () {
        var e=window.event||arguments.callee.caller.arguments[0];
        if(e.keyCode==13){
            $("#search_button").click();
        }
    });

    {# 搜框中的select标签 回车键被触发 #}
    $(".search_form select").change(function () {
        $("#search_button").click();
    });

    {# 添加关键词按钮被点击 #}
    $("#add_keywords").click(function () {
        var data = $("#formOper").serialize();

        var url = 'create/0/';
        $.post(url, data, function (result) {
            if(!result['status']){
                toastr['error'](result['message']);
            }else{
                toastr['success'](result['message']);
                $('.modal').modal("hide");
                table.ajax.reload(null, false);
                $("#formOper")[0].reset();
            }
        }, 'json')
    })



</script>
