    <title>问答机器人</title>

<style>

    .btn.focus, .btn:focus, .btn:hover {
        color: white;
    }
    .search_form>div{
        margin-bottom: 10px;
    }

    .search_form label{

        width: 85px;
        text-align: right;
    }

    .search_form input, .search_form select{
        display: inline-block;
        width: 300px
    }
    .search_form select{
        display: inline-block;
        width: 100px
    }

    #create_at{
        width: 120px;
    }

    tbody{
        text-align: center;
    }

</style>

{% csrf_token %}
<div class="page animation-fade page-index">
    <div class="page-content">
        <div class="panel" style="padding: 10px 0; height: auto;">
            <form class="form-horizontal search_form">
                <div>
                    <label for="task_id">任务名称：</label>
                    <select class="form-control select2-hidden-accessible" data-plugin="select2" tabindex="-1" aria-hidden="true" name="task_id" id="task_id" style="width: 400px">
                        <option value="">全部</option>
                        {% for obj in tasks_objs %}
                            <option value="{{ obj.task_id }}">{{ obj.task__name }}</option>
                        {% endfor %}
                    </select>

                    <label for="release_platform">发布平台：</label>
                    <select class="form-control" name="release_platform" id="release_platform" style="width: auto">
                        <option value="">全部</option>
                        {% for i in release_platform_choices %}
                            <option value="{{ i.0 }}">{{ i.1 }}</option>
                        {% endfor %}
                    </select>

                    <label for="status">状态：</label>
                    <select class="form-control" name="status" id="status">
                        <option value="">全部</option>
                        {% for i in status_choices %}
                            <option value="{{ i.0 }}">{{ i.1 }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div>
                    <label for="wenda_type">问答类型：</label>
                    <select class="form-control" name="wenda_type" id="wenda_type">
                        <option value="">全部</option>
                        {% for i in wenda_type_choices %}
                            <option value="{{ i.0 }}">{{ i.1 }}</option>
                        {% endfor %}
                    </select>

                    <label for="create_at">创建时间：</label>
                    <input class="Wdate form-control" id="create_at" name="create_at" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" type="text">

                    <label for="task__release_user_id">用户名称：</label>
                    <select class="form-control select2-hidden-accessible" data-plugin="select2" tabindex="-1" aria-hidden="true" id="task__release_user_id" name="task__release_user_id">
                        <option value="">全部</option>
                        {% for user in user_data %}
                            <option value="{{ user.task__release_user_id }}">{{ user.task__release_user__username }}</option>
                        {% endfor %}
                    </select>
                    <label for="task__is_test">父任务状态：</label>
                    <select class="form-control" name="task__is_test" id="task__is_test" style="width: auto">
                        <option value="">全部</option>
                        <option value="1">正式</option>
                        <option value="2">测试</option>
                    </select>

                </div>
                <div>
                    <label for="title_chaxun">搜索：</label>
                    <input class="form-control" name="title_chaxun" id="title_chaxun" type="text" placeholder=" 问题或链接模糊搜索" />
                </div>
                <div style="position: absolute; bottom:0; right: 20px;">
                    <button type="button" class="btn btn-primary" id="search_button"><i class="icon fa-search" aria-hidden="true"></i>搜索</button>
                </div>
            </form>
        </div>
        <div class="panel">
            <div class="panel-body">

                <div class="col-md-12 form-group" style="margin-bottom: 10px">
                    <button type="button" href="create/0/" data-toggle="modal" data-target="#exampleFormModal" class="btn btn-success pull-left margin-right-5">
                        <i class="icon fa-plus" aria-hidden="true"></i> 添加任务
                    </button>

                    <button type="button" href="download/0/" data-toggle="modal" data-target="#exampleFormModal" class="btn btn-info pull-left margin-right-5">
                        <i class="icon fa-download" aria-hidden="true"></i> 一键导出
                    </button >
                       <button type="button" href="jiqirenfabutongji/0/" data-toggle="modal" data-target="#exampleFormModal" class="btn btn-info pull-right margin-right-5" >
                        <i aria-hidden="true"></i> 查看机器人发布量
                    </button>
                </div>

                <table class="table table-bordered table-hover dataTable table-striped" id="dataTable">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>创建人</th>
                            <th>任务名称</th>
                            <th>问答标题</th>
                            <th>问答答案</th>
                            <th>回复地图</th>
                            <th>问答类型</th>
                            <th>问答状态</th>
                            <th>创建时间</th>
                            <th>更新时间</th>
                            <th>下次操作时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
{#                    <tbody>#}
{##}
{#                    </tbody>#}
                </table>

            </div>
        </div>
    </div>
</div>

<script>

    {# 在模态对话框关闭时清空数据 #}
    $(".modal").on("hidden.bs.modal", function() {
        $(this).removeData("bs.modal");
        $(this).find(".modal-content").children().remove();
        table.ajax.reload(null, false);
    });

    var table = $('#dataTable').DataTable({
        language: {
            "sProcessing": "处理中...",
            "sLengthMenu": "每页显示 _MENU_ 条",
            "sZeroRecords": "没有匹配结果",
            "sInfo": "第 _START_ 至 _END_ 项，共 _TOTAL_ 项",
            "sInfoEmpty": "第 0 至 0 项，共 0 项",
            "sInfoFiltered": "",
            "sInfoPostFix": "",
            "sSearch": "搜索:",
            "sUrl": "",
            "sEmptyTable": "表中数据为空",
            "sLoadingRecords": "载入中...",
            "sInfoThousands": ",",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "上页",
                "sNext": "下页",
                "sLast": "末页"
            },
            "oAria": {
                "sSortAscending": ": 以升序排列此列",
                "sSortDescending": ": 以降序排列此列"
            }
        },
        "processing": true,
        "serverSide": true,  // 服务器模式
        "bFilter": false,   // 去掉搜索框
{#        "ajax": "?type=ajax_json", // ajax 取数据#}
        "destroy": true,
        "sScrollX":"100%",


        "order": [[ 9, 'desc' ]],

        "columnDefs": [
            {
                "targets": [0],     // 这些列禁止搜索
                "searchable": false,
                "sortable": false       // 禁止排序
            },
            {
                "targets": [1],
                "visible": false
            }
        ],

        ajax: {
            "url": "?type=ajax_json",
{#            "data": []#}
        }
    });


    {# 搜索按钮被点击 #}
    $("#search_button").click(function () {
        var search_data = $(".search_form").serialize();
        var get_url = "?type=ajax_json&" + search_data;

        table.ajax.url(get_url);
        table.draw();

    });

    {# 搜框中的input标签 回车键被触发 #}
    $(".search_form input").keydown(function () {
        var e=window.event||arguments.callee.caller.arguments[0];
        if(e.keyCode==13){
            $("#search_button").click();
        }
    });

    {# 搜框中的select标签 回车键被触发 #}
    $(".search_form select").change(function () {
        $("#search_button").click();
    });
</script>
