<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title">修改用户</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal modal_outer_update">
        {% csrf_token %}
{#        销售#}
         <div class="form-group">
           <label class="col-md-2 control-label" for="xiaoshou_outer_update">销售 <span class="form-span-active">*</span></label>
            <div class="col-md-6">
                <select style="width: 300px;" class="form-control" data-plugin="select2" tabindex="-1" aria-hidden="true" id="xiaoshou_outer_update" name="xiaoshou_outer_update">
                    <option value="{{ xiaoshou_id }}">{{ xiaoshouming }}</option>
                    {% for obj in xiaoshous %}
                        <option value="{{ obj.id }}">{{ obj.username }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
{#        编辑#}
            <div class="form-group">
           <label class="col-md-2 control-label" for="bianji_outer_update">编辑 <span class="form-span-active">*</span></label>
            <div class="col-md-6">
                <select style="width: 300px;" multiple class="form-control" data-plugin="select2" tabindex="-1" aria-hidden="true" id="bianji_outer_update" name="bianji_outer_update">
{#                <select style="width: 300px;"  class="form-control" data-plugin="select2" tabindex="-1" aria-hidden="true" id="bianji_outer_update" name="bianji_outer_update">#}
{#                    <option value="{{ bianji.o_id }}">123165</option>#}
                        <span class="select2-selection select2-selection--multiple" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1" >
{#                            <ul class="select2-selection__rendered">#}
{#                                <li class="select2-selection__choice" title="111111111"><span class="select2-selection__choice__remove" role="presentation">×</span>#}
{#                                    "111111111"#}
{#                                </li>#}
{#                            </ul>#}
                        </span>
                    {% for obj in bianjis %}
                        <option value="{{ obj.id }}">{{ obj.username }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
{#        到账#}
          <div class="form-group">
            <label class="col-md-2 control-label" for="daozhang">到账 <span class="form-span-active">*</span></label>
            <div class="col-md-6">
                <input type="text" class="form-control input-md" name="daozhang" autocomplete="off" value="{{ daozhang }}">
            </div>
        </div>
{#        覆盖量#}
          <div class="form-group">
            <label class="col-md-2 control-label" for="fugailiang">覆盖量 <span class="form-span-active">*</span></label>
            <div class="col-md-6">
                <input type="text" class="form-control input-md" name="fugailiang" autocomplete="off" value="{{ fugai }}">
            </div>
        </div>
    {#        停表时间#}
         <div class="form-group" id="div_stop_time">
            <label class="col-md-2 control-label" for="daokuan_riqi">到款日期 </label>
               <div class="col-md-6">
                  <input class="Wdate form-control" id="daokuan_riqi" name="daokuan_riqi" onchange="" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" type="text" value="{{ daokuan_time }}">
             </div>
        </div>
{#        开始时间#}
         <div class="form-group" id="div_start_time">
            <label class="col-md-2 control-label" for="start_datatime">开始日期 </label>
               <div class="col-md-6">
                   <input class="Wdate form-control" id="start_datatime" name="start_datatime" onchange="" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" type="text" value="{{ kaishi_time }}">
             </div>
        </div>
{#        停表时间#}
         <div class="form-group" id="div_stop_time">
            <label class="col-md-2 control-label" for="stop_datatime">结束日期 </label>
               <div class="col-md-6">
                  <input class="Wdate form-control" id="stop_datatime" name="stop_datatime" onchange="" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" type="text" value="{{ jieshu_time }}">
             </div>
        </div>

    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" id="create_button">确认修改</button>
</div>

<script>

    {# 调整模态对话框的大小 #}
    $("#exampleFormModal .modal-dialog").css("width", "700px");

    $(".modal_outer_update select").select2({
        dropdownParent:$("#exampleFormModal")
    });
{#    $.fn.modal.Constructor.prototype.enforceFocus = function () { };#}

    $("#create_button").on('click', function () {

        $("#create_button").attr("disabled", "disabled");

        var data = $(".form-horizontal").serialize();

        var url = 'outer_update/{{ o_id }}/';
        $.post(url, data, function (result) {

            $("#create_button").removeAttr("disabled");

            if(!result['status']){
                toastr['error'](result['message']);
            }else{
                toastr['success'](result['message']);
                $('.modal').modal("hide");
                table.ajax.reload();
            }
        }, 'json')

    })

</script>
