<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">任务进展</h4>
    </div>
    <div class="modal-body">
        <table class="table table-bordered table-hover dataTable table-striped width-full text-nowrap" id="dataTable_modal">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>状态</th>
                    <th>创建时间</th>
                    {% if role_id != 5 and role_id != 12 %}
                    <th>备注</th>
                    <th>操作人</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for obj in task_process_log_objs %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{% for i in  obj.status_choices %}{% if obj.status == i.0 %}{{ i.1 }}{% endif %}{% endfor %}</td>
                    <td>{{ obj.create_date|date:"Y-m-d H:i:s" }}</td>

                    {% if role_id != 5 and role_id != 12 %}
                    <td>{{ obj.remark }}</td>
                    <td>{{ obj.oper_user.username }}</td>
                    {% endif %}
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    (function ($) {
        $("#exampleFormModal .modal-dialog").css("width", "1000px");

        var table = $('#dataTable_modal').DataTable({
            language: {
                "sProcessing": "处理中...",
                "sLengthMenu": "每页显示 _MENU_ 条",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "第 _START_ 至 _END_ 项，共 _TOTAL_ 项",
                "sInfoEmpty": "第 0 至 0 项，共 0 项",
                "sInfoFiltered": "",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            },
        });
    })(jQuery)
</script>