<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">修改发布数量</h4>
    </div>
    <div class="modal-body">
{#        <p><span style="color: red">请谨慎操作</span></p>#}
        <form class="form-horizontal" id="form_model" onsubmit="return false">
            {% csrf_token %}
        <div class="form-group">
            <label class="col-md-2 control-label" for="task_name">任务名称</label>
            <div class="col-md-8">
                <p class="form-control" id="task_name">{{ name }}</p>
            </div>
        </div>
          <div class="form-group">
            <label class="col-md-2 control-label" for="num">修改数量</label>
            <div class="col-md-8">
                <input type="text" class="form-control input-md" id="num" name="num" autocomplete="off">
            </div>
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" id="button_save" class="btn btn-primary margin-top-5">确认修改</button>
    </div>
</div>

<script>

    $("#exampleFormModal .modal-dialog").css("width", "700px");

    $("#button_save").on('click', function () {
        var data = $("#form_model").serialize();
        var url = 'update_fabu_shuliang/{{ o_id }}/';
        $.post(url, data, function (result) {
            if(!result['status']){
                toastr['error'](result['message']);

            }else{
                toastr['success'](result['message']);
                $('.modal').modal("hide");
                table.draw();
            }
        }, 'json')

    });


</script>
