<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title">修改点击策略规则</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        {% csrf_token %}

        <div class="form-group">
            <label class="col-md-2 control-label" for="name">策略名称</label>
            <div class="col-md-8">
                <input type="text" class="form-control input-md" id="name" name="name" placeholder="请输入策略名称" autocomplete="off" value="{{ click_strategy_obj.name }}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="content">策略规则</label>
            <div class="col-md-8">
{#                <input type="text" class="form-control input-md" id="url" name="url" placeholder="请输入网址" autocomplete="off">#}
                <table class="table table-bordered table-condensed" style="text-align: center">
                    <thead>
                        <tr>
                            <td>时间段</td>
                            <td>所占百分比（当前空闲百分比:<span id="free_percent" style="color: red">0</span>%)</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in content %}
                        <tr><td>{{ forloop.counter0 }}-{{ forloop.counter }}点</td><td name="time{{ forloop.counter0 }}">{{ i }}</td><td><button type="button" class="btn btn-success btn-xs"><i class="fa fa-plus fa-2" aria-hidden="true"></i></button> <button type="button" class="btn btn-danger btn-xs"><i class="fa fa-minus" aria-hidden="true"></i></button></td></tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

        <div class="hidden">
            <input type="text">
            <input type="button">
        </div>

    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" id="create_button">保存</button>
</div>

<script>
    $("#exampleFormModal .modal-dialog").css("width", "700px")

    {# 计算百分比的总和 #}
    function SumPercent() {
        var sum_num = 0;
        for (var i=0; i<24; i++){
            var n = $("td[name='time" + i + "']").html();
            sum_num += parseInt(n);
        }

        return sum_num
    }

    {# 增加百分比分配 #}
    $(".btn-success").click(function () {
        var sum_num = SumPercent();
        if (sum_num < 100){
            var td_value_tag = $(this).parent("td").prev("td");
            var o_num = td_value_tag.html();
            td_value_tag.html(parseInt(o_num) + 1);

            var free_percent = $("#free_percent");
            free_percent.html(parseInt(free_percent.html()) - 1)
        }else{
            toastr['warning']("总百分比已经达到百分之百");
        }

    });

    {# 减少百分比分配 #}
    $(".btn-danger").click(function () {
        var td_value_tag = $(this).parent("td").prev("td");
        var o_num = td_value_tag.html();
        if (parseInt(o_num) > 0){
            td_value_tag.html(parseInt(o_num) - 1);

            var free_percent = $("#free_percent");
            free_percent.html(parseInt(free_percent.html()) + 1)
        }
    });

    $("#create_button").click(function () {

        var click_strategy_content = "";
        var click_strategy_content_array = [];
        for (var i=0; i<24; i++){
            var n = $("td[name='time" + i + "']").html();
            click_strategy_content_array.push(n);
        }

        var data = $(".form-horizontal").serialize() + "&click_strategy_content=" + click_strategy_content_array.join(",");

        var url = 'update/{{ o_id }}/';
        $.post(url, data, function (result) {
            if(!result['status']){
                toastr['error'](result['message']);
            }else{
                toastr['success'](result['message']);
                $('.modal').modal("hide");
                table.ajax.reload();
            }
        }, 'json')

    })

</script>
