<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
            <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">批量设置消息状态为已读</h4>
    </div>
    <div class="modal-body">
        <p>是否要将勾选消息的消息状态设置为已读</p>
    </div>
    <div class="modal-footer">
        <button type="button" id="button_set_departure_save" class="btn btn-primary margin-top-5">确定</button>
    </div>
</div>

<script>
    (function ($) {
        $("#exampleFormModal .modal-dialog").css("width", "500px");

        $("#button_set_departure_save").on('click', function () {
            var csrfmiddlewaretoken = $('input[name="csrfmiddlewaretoken"]').val();
            var data = "csrfmiddlewaretoken=" + csrfmiddlewaretoken + "&batch_read_ids=" + "{{ batch_read_ids }}";
            var url = 'batch_read/0/';
            $.post(url, data, function (result) {
                if(!result['status']){
                    toastr['error'](result['message']);

                }else{
                    toastr['success'](result['message']);
                    $('.modal').modal("hide");
                    table.ajax.reload();
                }
            }, 'json')

        })
    })(jQuery)
</script>