<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title">任务分配</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" id="formOper" onsubmit="return false">
        {% csrf_token %}
        <div class="form-group">
            <label class="col-md-2 control-label" for="number">编写数量</label>
            <div class="col-md-8">
                <input type="text" class="form-control input-md" id="number" autocomplete="off" value="{{ task_obj.number }}" disabled>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="zbalance">分配数量</label>
            <div class="col-md-8" style="margin-top: 30px; ">
                {% for obj in user_objs %}
                <div class="col-md-12" style="margin-top: 5px">
                    <label class="col-md-4 control-label" for="bianji_{{ obj.id }}">{{ obj.username }}:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control input-md" id="bianji_{{ obj.id }}" value="0" name="bianji_{{ obj.id }}" autocomplete="off" placeholder="填写分配数量">
                    </div>

                </div>

                {% endfor %}
            </div>
        </div>
       <div class="checkbox-custom checkbox-primary form-group " style="padding: 0 10px 10px 50px" id="panduan_map">
            <input class="col-md-2" type="checkbox" id="panduan_map"  name="panduan_map" {% if map_status %}checked{% endif %}>
            <label for="panduan_map" >是否加地图</label> <span style="color: red;">注:打钩代表加地图</span>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" id="create_button">确认分配</button>
</div>

<script>
    $("#exampleFormModal .modal-dialog").css("width", "800px");

    $("#create_button").on('click', function () {
     $("#create_button").attr("disabled", "disabled");
        var data = $("#formOper").serialize();

        var url = 'task_allotment/{{ o_id }}/';
        $.post(url, data, function (result) {
        $("#create_button").removeAttr("disabled");
            if(!result['status']){
                toastr['error'](result['message']);
            }else{
                toastr['success'](result['message']);
                $('.modal').modal("hide");
                table.ajax.reload();
            }
        }, 'json')

    })

</script>
