<title>关键词截屏</title>
<link rel="stylesheet" href="http://cdn.admui.com/demo/pjax/1.3.0/vendor/magnific-popup/magnific-popup.css">
<link rel="stylesheet" href="http://cdn.admui.com/demo/pjax/1.3.0/css/examples/components/advanced/lightbox.css">


<style>

    .btn.focus, .btn:focus, .btn:hover {
        color: white;
    }

    .search_form > div {
        margin-bottom: 10px;
    }

    .search_form label {

        width: 85px;
        text-align: right;
    }

    .search_form input, .search_form select {
        display: inline-block;
        width: 300px
    }

    .search_form select {
        display: inline-block;
        width: 100px
    }

    #create_date {
        width: 120px;
    }

    tbody {
        text-align: center;
    }

</style>

{% csrf_token %}

<div class="page animation-fade page-index page-data-tables">
    <div class="page-content">

         <div class="example-wrap hidden">
            <div class="example" id="exampleGallery">
                <a class="inline-block" href="http://cdn.admui.com/demo/pjax/1.3.0/images/photos/view-8.jpg" title="view-7" id="tanchu">
                <img class="img-responsive hidden" src="http://cdn.admui.com/demo/pjax/1.3.0/images/photos/view-8.jpg" alt="..." width="220">
                </a>
            </div>
        </div>

        <div class="panel" style="padding: 10px; height: auto">
            <form class="form-horizontal search_form">
                <div>
                        <label for="client_user">用户名称：</label>
                        <select class="form-control select2-hidden-accessible" data-plugin="select2" tabindex="-1"
                                aria-hidden="true" id="client_user" name="client_user">
                            <option value="">全部</option>
                            {% for i in client_data %}
                                <option value="{{ i.id }}">{{ i.username }}</option>
{#                                <option value="22">紫琪尔</option>#}
                            {% endfor %}
                        </select>
{#                        <label for="cimingcheng">词名称：</label>#}
{#                        <select class="form-control select2-hidden-accessible col-md-2" data-plugin="select2" tabindex="-1"#}
{#                                aria-hidden="true" id="cimingcheng" name="cimingcheng" >#}
{#                            <option value="">全部</option>#}
{#                            {% for obj in result %}#}
{#                                <option value="{{ obj.id }}">{{ obj.guanjianci }}</option>#}
{#                            {% endfor %}#}
{#                        </select>#}
                </div>
                <div style="position: absolute; bottom:0; right: 20px;">
                    <button type="button" class="btn btn-primary" id="search_button"><i class="icon fa-search" aria-hidden="true"></i>搜索</button>
                </div>
            </form>
        </div>
        <div class="panel" style="height: 100%;">
            <div class="panel-body">
                <div class="col-md-12 form-group" style="margin-bottom: 10px">
{#                        <button type="button" href="delete_guanjianci/0/" data-toggle="modal" data-target="#exampleFormModal"#}
{#                                class="btn btn-info pull-right margin-right-5" >#}
{#                            <i  aria-hidden="true"></i> 删除词#}
{#                        </button>#}
{#                        <button type="button" href="update_guanjianci/0/" data-toggle="modal" data-target="#exampleFormModal"#}
{#                                class="btn btn-info pull-right margin-right-5" >#}
{#                            <i  aria-hidden="true"></i> 修改词#}
{#                        </button>#}

                        <button type="button" href="create_guanjianci/0/" data-toggle="modal" data-target="#exampleFormModal"
                                class="btn btn-info pull-right margin-right-5" id="create_guanjianci">
                            <i  aria-hidden="true"></i> 添加关键词
                        </button>
                </div>
                <table class="table table-bordered table-hover dataTable table-striped width-full text-nowrap"
                       id="dataTable" data-scroll-x="True">
                    <thead>
                        <tr>
                        <th>编号</th>
                        <th>客户ID</th>
                        <th>客户名称</th>
                        <th>关键词</th>
                        <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="http://cdn.admui.com/demo/pjax/1.3.0/vendor/magnific-popup/jquery.magnific-popup.min.js" data-name="popup"></script>
<script src="http://cdn.admui.com/demo/pjax/1.3.0/js/examples/components/advanced/lightbox.js" data-deps="popup"></script>


<script>
    {# 在模态对话框关闭时清空数据 #}
    $(".modal").on("hidden.bs.modal", function () {
        $(this).removeData("bs.modal");
        $(this).find(".modal-content").children().remove();
    });
    var table = $('#dataTable').DataTable({
        language: {
            "sProcessing": "处理中...",
            "sLengthMenu": "每页显示 _MENU_ 条",
            "sZeroRecords": "请选择用户",
            "sInfo": "第 _START_ 至 _END_ 项，共 _TOTAL_ 项",
            "sInfoEmpty": "第 0 至 0 项，共 0 项",
            "sInfoFiltered": "",
            "sInfoPostFix": "",
            "sSearch": "搜索:",
            "sUrl": "",
            "sEmptyTable": "表中数据为空",
            "sLoadingRecords": "载入中...",
            "sInfoThousands": ",",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "上页",
                "sNext": "下页",
                "sLast": "末页"
            },
            {#"oAria": {#}
            {#    "sSortAscending": ": 以升序排列此列",#}
            {#    "sSortDescending": ": 以降序排列此列"#}
            {# } #}
        },
        "pageLength": 100,
        "processing": true,
        "serverSide": true,  // 服务器模式
        "ajax": "?type=ajax_json", // ajax 取数据
        "bFilter": false,   // 去掉搜索框
        "destroy": true,
        {#"aaSorting": [[5, "desc"]],#}
        "columns": [
            {"data": "index"},
            {
                "data": "user_id",
                "visible": false
             },
            {"data": "kehu_name"},
            {"data": "guanjianci",
            "orderable": false},
            {"data": "oper",
            "orderable": false},

        ],

    });





    {# 搜索按钮被点击 #}
    {#$("#search_button").click(function () {#}
    {#    var search_data = $(".search_form").serialize();#}
    {#    var get_url = "?type=ajax_json&" + search_data;#}
    {##}
    {#    table.ajax.url(get_url);#}
    {#    table.draw();#}
    {#{);#}

    {# 搜框中的input标签 回车键被触发 #}
    {#$(".search_form input").keydown(function () {#}
    {#    var e = window.event || arguments.callee.caller.arguments[0];#}
    {#    if (e.keyCode == 13) {#}
    {#        $("#search_button").click();#}
    {#    }#}
    {#{);#}

    {# 搜框中的select标签 回车键被触发 #}
    {#$(".search_form select").change(function () {#}
    {#    $("#search_button").click();#}
    {#{);#}

</script>
