<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form class="form-horizontal modal-form">
        {% csrf_token %}
    <div class=".img-responsive">

        {% for i in data_list %}
{#        <img src="{{ i }}" alt=""  class=".img-responsive">#}
            <img class="img-rounded img-bordered img-bordered-green" width="950" height="500" src="{{ i }}" alt="...">
{#        <hr>#}
        {% endfor %}

{#    <div class="grid-stack-item ui-draggable ui-resizable ui-resizable-autohide" data-gs-x="4" data-gs-y="0" data-gs-width="4" data-gs-height="5">#}
{#                <div class="grid-stack-item-content panels ui-draggable-handle">2</div>#}
{#            <div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 90; display: none;"></div></div>#}


    </div>
    </form>



<script>

    {# 调整模态对话框的大小 #}
    {#$("#exampleFormModal .modal-dialog").css("width", "700px");#}
    {##}
    {#$(".modal-form select").select2({#}
    {#    dropdownParent:$("#exampleFormModal")#}
    {#{);#}
    {##}
    {#$("#create_button").on('click', function () {#}
    {##}
    {#    $("#create_button").attr("disabled", "disabled");#}
    {##}
    {#    var data = $(".form-horizontal").serialize();#}
    {##}
    {#    var url = 'guanjianci_jieping/{{ o_id }}/';#}
    {#    $.post(url, data, function (result) {#}
    {##}
    {#        $("#create_button").removeAttr("disabled");#}
    {##}
    {#        if(!result['status']){#}
    {#            toastr['error'](result['message']);#}
    {#        }else{#}
    {#            toastr['success'](result['message']);#}
    {#            $('.modal').modal("hide");#}
    {#            table.ajax.reload();#}
    {#        }#}
    {#    }, 'json')#}
    {##}
    {#{)#}
</script>


</body>
</html>