<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="关闭">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title">新增人工操作老问答</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal modal_form" id="form-model">
        {% csrf_token %}

        <div class="form-group">
            <label class="col-md-2 control-label" for="task_id">任务名称 <span class="form-span-active">*</span></label>
            <div class="col-md-8">
                <select style="width: 525px;" class="form-control select2" data-plugin="select2" tabindex="-1" aria-hidden="true" id="task_id" name="task_id">
                    <option value="">请选择</option>
                    {% for obj in task_objs %}
                        <option value="{{ obj.id }}">{{ obj.name }}</option>
                    {% endfor %}

                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="edit_id">编辑 <span class="form-span-active">*</span></label>
            <div class="col-md-8">
                <select style="width: 525px;" class="form-control select2" data-plugin="select2" tabindex="-1" aria-hidden="true" id="edit_id" name="edit_id">
                    <option value="">请选择</option>
                    {% for obj in bianji_objs %}
                        <option value="{{ obj.id }}">{{ obj.username }}</option>
                    {% endfor %}

                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="zhidao_url">链接 <span class="form-span-active">*</span></label>
            <div class="col-md-8">
                <input type="text" class="form-control input-md" name="zhidao_url" autocomplete="off">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="title">问题 <span class="form-span-active">*</span></label>
            <div class="col-md-8">
                <input type="text" class="form-control input-md" name="title" autocomplete="off">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="content">答案 <span class="form-span-active">*</span></label>
            <div class="col-md-8">
{#                <input type="text" value="{{ objs.content }}" class="form-control input-md" id="password" name="password" placeholder="请输入密码" autocomplete="off">#}
                <textarea class="form-control" name="content" id="content" rows="5">{{ objs.content }}</textarea>
            </div>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" id="create_button">添加</button>
</div>

<script>
    $("#exampleFormModal .modal-dialog").css("width", "50%");

    $(".modal_form select").select2({
        dropdownParent:$("#exampleFormModal")
    });


    $("#create_button").on('click', function () {

        var data = $("#form-model").serialize();

        var url = 'rengong_add/0/';
        $.post(url, data, function (result) {
            if(!result['status']){
                toastr['error'](result['message']);
            }else{
                toastr['success'](result['message']);
                $('.modal').modal("hide");
                table.ajax.reload();
            }
        }, 'json')

    })



</script>
